.list_new{
    width: 30%;
    height: 100%;
    float: left;
    border: none;
    text-align: center;
    background-color: #c4c4c4;
}
.list_bosuutap{
    width: 70%;
    height: 90%;
    float: left;
    margin-top: 10px;
}
.list_bosuutap_ul{
    width: 100%;
    height: 50px;
    padding-left: 50px;
}
.text_bosuutap{
    width: 80%;
    height: 40px;
    padding-left: 50px;
    margin-top: 20px;
}
.list_new_text{
    color: #352e28;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}
.imgs{
    width: 80% ;
    height: 80%;
    margin: 1%;
}
.list_bosuutap_li{
    list-style: none;
    display: inline;
    color: #c4c4c4;
    font-size: 14px;
    text-align: center;
}
.text_bosuutap_timkiem{
        width: 50px;
        text-align: center;
        width: 104px;
        height: 30px;
        text-align: center;
        background-color: brown;
        margin-left: 60px;
        font-size: 12px;
        border: none;
}
.text_bosuutap_timkiem:hover{
    opacity: 0.6;
    cursor: pointer;
}
.list_chon{
    width: 100%;
    height: 50px;
    float: left;
    background-color:#c5a26e;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    color: #c4c4c4;
}
.list_bosuutap_xe{
    width: 95%;
    margin: 0 auto;
    height: 50px;
    float: leff;
    text-align: center;
    background-color: #c4c4c4;
    border: none;
    border-radius: 3px;
}
.list_xe_chon{
    text-decoration: none;
    color: #070707;
    margin: 2%;
    line-height: 50px;
}
.list_xe_chon:hover{
    color: brown;
}
.list_bosuutap_xe{
    margin-left: 20px;
}
.sp_new{
    margin:2%;
    color: #000000;
    text-align: center;
}
.spm1{
    height: 400px;
    width: 270px;
    text-align: center;
    border: 4px solid #c4c4c4;
    background-color: white;
}
.spm1_img{
    height: 270px;
    width: 240px;
}
.gia_spm1{
    font-size: 20px;
    color: red; 
    margin-bottom: 5px;
}
.name_spm1{
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 300px;
}
.mua_spm1{
    margin: 0 auto;
    height: 30px;
    width: 80%;
    border: 1px solid aquamarine;
    background-color: aquamarine;
    border-radius: 4px;
    line-height: 30px;
}
.mua_spm1 a{
    text-decoration: none;
    height: 20px;
}
.mua_spm1:hover{
    opacity: 0.6;
    cursor: pointer;
}
.themspm1{
    margin-top: 9px;
}
.themspm1 a{
    text-decoration: none;
    color:darkred;
    margin-top: 2px;
}
.spm2{
    height: 400px;
    width: 270px;
    text-align: center;
    border: 4px solid #c4c4c4;
    background-color: white;
}
.spm2_img{
    height: 270px;
    width: 240px;
}
.gia_spm2{
    font-size: 20px;
    color: red; 
    margin-bottom: 5px;
}
.name_spm2{
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 300px;
}
.mua_spm2{
    margin: 0 auto;
    height: 30px;
    width: 80%;
    border: 1px solid aquamarine;
    background-color: aquamarine;
    border-radius: 4px;
    line-height: 30px;
}
.mua_spm2 a{
    text-decoration: none;
    height: 20px;
}
.mua_spm2:hover{
    opacity: 0.6;
    cursor: pointer;
}
.themspm2{
    margin-top: 9px;
}
.themspm2 a{
    text-decoration: none;
    color:darkred;
    margin-top: 2px;
}
.spm3{
    height: 400px;
    width: 270px;
    text-align: center;
    border: 4px solid #c4c4c4;
    background-color: white;
}
.spm3_img{
    height: 270px;
    width: 240px;
}
.gia_spm3{
    font-size: 20px;
    color: red; 
    margin-bottom: 5px;
}
.name_spm3{
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 300px;
}
.mua_spm3{
    margin: 0 auto;
    height: 30px;
    width: 80%;
    border: 1px solid aquamarine;
    background-color: aquamarine;
    border-radius: 4px;
    line-height: 30px;
}
.mua_spm3 a{
    text-decoration: none;
    height: 20px;
}
.mua_spm3:hover{
    opacity: 0.6;
    cursor: pointer;
}
.themspm3{
    margin-top: 9px;
}
.themspm3 a{
    text-decoration: none;
    color:darkred;
    margin-top: 2px;
}
.spm4{
    height: 400px;
    width: 270px;
    text-align: center;
    border: 4px solid #c4c4c4;
    background-color: white;
}
.spm4_img{
    height: 270px;
    width: 240px;
}
.gia_spm4{
    font-size: 20px;
    color: red; 
    margin-bottom: 5px;
}
.name_spm4{
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 300px;
}
.mua_spm4{
    margin: 0 auto;
    height: 30px;
    width: 80%;
    border: 1px solid aquamarine;
    background-color: aquamarine;
    border-radius: 4px;
    line-height: 30px;
}
.mua_spm4 a{
    text-decoration: none;
    height: 20px;
}
.mua_spm4:hover{
    opacity: 0.6;
    cursor: pointer;
}
.themspm4{
    margin-top: 9px;
}
.themspm4 a{
    text-decoration: none;
    color:darkred;
    margin-top: 2px;
}
.themspm5{
    margin-top: 9px;
}
.themspm5 a{
    text-decoration: none;
    color:darkred;
    margin-top: 2px;
}
.listspm{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}