*{
    box-sizing: border-box;
    padding: 0 0;
    margin: 0 0;
}
body{
    background: #f0ecec;
}
button{
    clear: both;
    line-height: 25px;
}
.search input#search{
    width: 200px;
    line-height: 25px;
    background: #ffffff;
    font-size: 10pt;
    color: rgb(3, 3, 3);
  }
header{
    background: #ffffff;
}
.header-top {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    background: #2b2b2b;
}

.header-top a {
    color: #ffffff;
    margin: 0px;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    padding: 10px 20px;
    text-align: center;
}
.menu {
    text-align: center;
    margin: 0 20px;
    height: 40px;
    border-radius: 8px 8px;
    background: #2b2b2b;
}
.menu ul{
    margin: auto;
}
.menu ul li{
    display: inline;
    align-items: center;
    min-height: 40px;
    margin: 0 25px;
    cursor: pointer;
    user-select: none;
}
.menu ul li:hover{
    background: #f0ecec;
}
.menu ul li a:hover{
    color: red;
}
.menu ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 0px 15px;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    margin: auto;
}
.banner{
    margin: auto;
}
.banner img{
    object-fit: cover;
    padding: 20px;
    width: 100%;
}
.our-product{
    padding: 0 20px 20px 20px;
}
.our-product-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.our-product-heading{
    margin-bottom: 25px;
}
.our-product-heading h2 a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #2b2b2b;
}
.our-product .our-product-body .product-item{
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-gap: 20px;
}
.product-item-img img{
    float: left;
    margin: 0 20px 0 0;
}
.product-item-content h3 a, p{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #2b2b2b;
    font-size: 15px;
}
.techno{
}
.techno-heading{
    margin: 20px 0px;
}
.techno-heading h2 a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #2b2b2b;
}
.techno-body{
}
.techno-item{
    display: grid;
    grid-template-columns: 480px 1fr;
    grid-gap: 40px;
    margin: 35px 0;
}
.techno-item-content h3 a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #2b2b2b;
    display: block;
    padding-bottom: 30px;
}
.techno-body .techno-item span {
    display: block;
    padding-bottom: 30px;
}
.techno-body .techno-item .techno-item-content p{
    display: block;
    text-align: justify;
}
.footer{
    background: #2b2b2b;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.copyright{
    text-align: left;
    padding: 0 20px;
    line-height: 80px;
}
.copyright span{
    color: #ffffff;
}
.social{
    text-align: right;
    padding: 21px;
}
.social a{
    padding: 0 5px;
}
html,body {
    cursor: url("https://i.imgur.com/5v5M8gh.png"), auto;
}

a:hover {
    cursor: url("https://i.imgur.com/IXULuQ1.png"), auto;
}
